.bunner_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.integrates {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bunner-video {
  box-shadow: 10px 100px 410px 10px rgba(0, 0, 0, 0.801),
    110px 0 20px rgba(0, 0, 0, 0.4), 20px 0 40px rgba(0, 0, 0, 0.3);
}

.video-wrapper {
  margin-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 1px solid #22222298;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 776px 217px 0 rgba(0, 0, 0, 0),
    0 497px 199px 0 rgba(0, 0, 0, 0.01), 0 279px 168px 0 rgba(0, 0, 0, 0.05),
    0 124px 124px 0 rgba(0, 0, 0, 0.09), 0 31px 68px 0 rgba(0, 0, 0, 0.1);
    padding-inline: 50px;
}
