@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Syne:wght@400..800&family=Unbounded:wght@200..900&display=swap");
@import url("https://db.onlinewebfonts.com/c/0021e0dd7bb3205b038c4f17aacff6cc?family=Tachyon+W00+Regular");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Syne:wght@400..800&family=Unbounded:wght@200..900&display=swap");

@font-face {
  font-family: "Tachyon W00 Regular";
  src: url("0021e0dd7bb3205b038c4f17aacff6cc.eot");
  src: url("0021e0dd7bb3205b038c4f17aacff6cc.eot?#iefix")
      format("embedded-opentype"),
    url("0021e0dd7bb3205b038c4f17aacff6cc.woff") format("woff"),
    url("0021e0dd7bb3205b038c4f17aacff6cc.woff2") format("woff2"),
    url("0021e0dd7bb3205b038c4f17aacff6cc.ttf") format("truetype"),
    url("0021e0dd7bb3205b038c4f17aacff6cc.svg#Tachyon W00 Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000;
  overflow-x: hidden;
}

h1,
h2 {
  color: #fff;
  text-align: center;
  font-family: "Tachyon W00 Regular";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 74px;
  letter-spacing: -1.2px;
}

h2 {
  line-height: 48px; /* 80% */
  text-transform: uppercase;
  letter-spacing: -0.4px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

ul li {
  color: var(--100, #fff);

  /* Prism/Headline 1 */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

p {
  color: #fff;
  text-align: center;

  /* Prism/Body 1 */
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

.blur-row {
  position: relative;
  left: -40px;
  width: calc(100% + 80px);
  height: 130px;
  background: #000;
  filter: blur(20px);
  z-index: 9999;
}

h3 {
  color: #fff;
  font-family: "Tachyon W00 Regular";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
  text-align: center;
}

hr {
  border: 1px solid var(--j-djlrf, #2e2e2e);
}
